.bg-white {
  background-color: var(--color-elements);
}
.countryInfoPage {
  padding-top: 50px;
  .back {
    margin-bottom: 80px;
    cursor: pointer;
    border-radius: 7px;
    background-color: var(--color-elements);
    box-shadow:  0 0 3px 3px var(--color-shadow-button);
    font-size: 1rem;
    padding: 0.6em 2em;
    display: flex;
    
    svg {
      margin-right: 0.5em;
    }
  }
  .info-block {
    display: flex;
    gap: 120px;
    h1 {
      font-family: Nunito-Sans-ExtraBold;
      font-size: 2rem;
    }
    .img-container {
      width: 560px;
      height: 400px;
      .flag {
        width: 560px;
        height: 100%;
      }
    }
    .description {
      margin-top: 2.5em;
      ul {
        height: 170px;
        margin-top: 1.6em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 25px;
        li {
          margin: 0.35em 0;

          span {
            font-family: Nunito-Sans-SemiBold;
          }
        }
      }
    }
  }
}
