.countryCard {
  width: 264px;
  height: 100%;
  border-radius: 5px;
  box-shadow:  1px 1px 6px 6px var(--color-shadow);
  background-color: var(--color-elements);
  overflow: hidden;
  cursor: pointer;
  &:hover {
    box-shadow:  1px 1px 6px 6px var(--color-hover);
  }
  .img-container {
    width: 100%;
    height: 160px;
    .flag {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .description {
    padding: 1.9rem 1.5rem;
    h3 {
      font-size: 1rem;
      font-family: var(--font-bold);
      margin-bottom: 1rem;
    }
    p {
      font-size: 0.8rem;
      line-height: 1.5rem;
      margin: 0;
      span {
        font-family: var(--font-bold);
      }
    }
  }
}
