.bg-white {
  background-color: var(--color-elements);
}
.countryInfoPage {
  .p {
    padding: 80px 0;
    .btn {
      font-size: 1rem;
      svg {
        margin-right: 0.5em;
      }
    }
  }
}

@media (max-width: 550px) {
  .countryInfoPage {
    padding: 0 16px;
    .p {
      padding: 40px 0;
      .btn {
        font-size: 0.8rem;
      }
    }
  }
}

