.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-elements);
  .nav {
    font-family: Nunito-Sans-ExtraBold;
    font-size: 1.4em;
  }
  .theme {
    display: flex;
    align-items: center;
    gap: 0.2em;
    background-color: transparent;
    text-transform: capitalize;
    height: 30px;
    font-size: 1em;
    color: inherit;
  }
}