.controls {
  position: sticky;
  top: 80px;
  z-index: 99;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 80px;
  background-color: var(--color-bg);
  .search {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 480px;
    min-width: 340px;
    height: 50px;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 6px 6px var(--color-shadow);
    background-color: var(--color-elements);
    svg {
      width: 20px;
      height: 20px;
      fill: var(--color-text);
    }
    input {
      width: 100%;
      margin-left: 1.5rem;
      outline: none;
      color: var(--color-text);
      font-family: var(--font-light);
      background-color: var(--color-elements);
      color: var(--color-text);
      &::placeholder {
        color: var(--color-text);
      }
      &::-webkit-search-cancel-button{
        /*color here*/
      }
    }
  }
}

.react-select__menu-list {
  background-color: var(--color-elements);
}

@media (max-width: 550px) {
  .controls {
    padding: 20px 16px;
  }
}

